
header{
    background-color: white;
    padding: 10px;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}
header h2{
    display: inline-block;
    position: relative;
}
.banner{
    position: relative;
    left: 50px;
}
div{
    position: absolute;
    left: 10px;
    top: 30%;
}
span{
    color: orange;
}
.hello{
    font-size: 80px;
    
}
img{
    max-width: 100%;   
}
nav.ul{
    list-style-type: none;
}
nav{
    display: inline-block;
    position: absolute;
    right: 0;
    max-width: 700px;
    padding: 10px;
    padding-right: 60px;
}
nav ul{
    white-space: nowrap
}
nav li{
    display:inline-block ;
}
.navmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}
nav li a{
    text-decoration: none;
    color: orange;
}
.Introduction{
    display: inline-block;
}
.Introduction h2{
    position: relative;
    font-size: 45px;
    top: 20px;
    left: 90px;
}
.Introduction p{
    position: absolute;
    font-size: 22px;
    right: 200px;
    top: 760px;
}

.Portfolio{
    display: inline-block;
}
.Portfolio h2{
    position: relative;
    font-size: 45px;
    top: 300px;
    left: 450px;
}
.Portfolio ul{
    position: absolute;
    font-size: 22px;
    right: 250px;
    top: 1000px;
}

.Aboutme{
    display: inline-block;
}
.Aboutme h2{
    position: relative;
    font-size: 45px;
    top: 530px;
    left: -310px;
}
.Aboutme p{
    position: absolute;
    font-size: 22px;
    right: 460px;
    top: 1260px;
}

.Contact{
    display: inline-block;
}
.Contact ul{
    list-style-type: none;
}
.Contact h2{
    position: relative;
    font-size: 45px;
    top: 780px;
    left: 90px;
}
.Contact ul{
    position: absolute;
    font-size: 22px;
    right: 250px;
    top: 1500px;
}
footer{
    position: absolute;
    top: 2500px;
}

.Slides{
    width: 100%;
}
.slideshow{
    max-width: 1000px;
    position: relative;
    margin: auto;
    top: 900px;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 20px;
    color: white;
    background-color: black;
  }
  
.next {
    right: 0;
    top:350px;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
    top:350px;
    border-radius: 3px 0 0 3px;
}

.events{
    position: absolute;
    top: 1650px;
    font-size: 30px;
    left: 500px;
}
